* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DCE5FE;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    height: 100vh;
    width: 100vw;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 50vw;
    justify-content: space-between;
    border: solid black 1px;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.form-container form {
    height: 75%;
    justify-content: space-between;
}

#signup-form {
    display: flex;
    flex-direction: column;
}

#signup-form input {
    background: inherit;
    outline: none;
    border: solid grey 1px;
    height: 30px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px 20px;
}

input[type="submit"] {
    background-color: #2B3550 !important;
    color: white;
    box-shadow: none !important;
    border-radius: 10px;
}

.form-img {
    width: 50vw;
}

.form-img img {
    height: 400px;
    padding-left: 30%;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

@media (max-width: 880px) {
    .form-img {
        display: none;
    }

    .form-container {
        width: 90%;
    }

    #signup-form input {
        height: 50px;
    }
}

@media (max-width: 676px) {
    .container {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .form-container {
        width: 100%;
    }
}